{
  "parser": "babel-eslint",
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.test.jsx"],
      "env": {
        "jest": true
      },
      "rules": { "no-unused-vars": 0 }
    },
    {
      "files": ["src/pages/_*.js"],
      "rules": {
        "react/prop-types": 0
      }
    },
    {
      "files": ["**/*.stories.js", "**/*.stories.jsx"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "rules": {
    "no-unused-vars": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "semi": ["error", "always"],
    "import/newline-after-import": ["warn", { "count": 1 }],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          ["external", "internal"],
          "parent",
          ["sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "never",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
